<div>
  <%= ERB.new(File.read("#{Specterr::Web.settings[:views]}/_graphs.html.erb")).result(binding) %>
  <table class="table table-hover">
    <thead class="bg-info">
      <tr>
        <th>Date</th>
        <th>Error</th>
      </tr>
    </thead>
    <tbody>
      <% @data[:errors_list].each do |error| %>
          <tr>
            <td><%= error["created_at"] %></td>
            <td class="text-*-info">
              <a href=<%="#{@specterr_home_path}/errors/#{error['id']}" %>>
                <%= error["exception"] %>
              </a>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
